@using Cardmngr.Domain.Extensions

@inherits KolComponentBase

<div class="subtask-card @CssCompleted @Class" style="@Style" @onclick="HandleClick" >
    <span class="title">@Subtask.Title</span>
    <FluentSpacer />
    @if (Subtask.Responsible is { })
    {
        <div class="image">
            <UserAvatar User="Subtask.Responsible" ShowTooltip />
        </div>
    }
    @if (!State.ReadOnly)
    {
        <div class="tools">
            <Tool 
                Disabled="Disabled"
                Icon="@(new Icons.Regular.Size20.Pen())"
                @onclick="EditSubtask"
                title="Редактировать" />

            <Tool 
                Disabled="Disabled"
                Icon="@(new Icons.Regular.Size20.Delete())" 
                @onclick="DeleteSubtask"
                Color="Color.Error" 
                title="Удалить" />
        </div>
        <div class="status-change">
            <Tool 
                Disabled="Disabled"
                Icon="@StatusIcon"
                Color="Color.Success"
                @onclick="async () => await ChangeSubtaskStatus(Subtask.Status.Invert())" />
        </div>
    }
</div>
