@inject IProjectFollowChecker ProjectFollowChecker

@inherits KolComponentBase

<a @key="@Project.Id" 
   class="proj-ref @Class" 
   title="@(ShowTitle ? Project.Title : "")"
   style="@Style"
   @onclick="HandleClick"
   href=@($"/project/board?ProjectId={Project.Id}")>
    <div class="ref-container">
        @if (ProjectFollowChecker.IsFollow(Project.Id))
        {
            <FluentIcon Value="new Icons.Filled.Size12.Star()" style="margin-bottom: 2px;"/>
            <FluentSpacer Width="1"/>
        }
        @Project.Title
        <FluentIcon Value="@(new Icons.Regular.Size12.ArrowRight())"/>
    </div>
</a>

@code {
    [Parameter] public Project Project { get; set; } = null!;
    [Parameter] public bool ShowTitle { get; set; } = true;
}
