@inject IProjectFollowChecker ProjectFollowChecker

@inherits KolComponentBase

<a @key="@Project.Id" 
   class="proj-ref @Class" 
   title="@(ShowTitle ? Project.Title : "")"
   style="@Style"
   @onclick="HandleClick"
   href=@($"/project/board?ProjectId={Project.Id}")>
    <div class="flex gap-1 px-1">
        @if (ProjectFollowChecker.IsFollow(Project.Id))
        {
            <FluentIcon Value="new Icons.Filled.Size12.Star()" Style="min-width: 12px;"/>
        }
        <span class="line-clamp-2">@Project.Title</span>
    </div>
</a>

@code {
    [Parameter] public Project Project { get; set; } = null!;
    [Parameter] public bool ShowTitle { get; set; } = true;
}
