@using Cardmngr.Components.ProjectAggregate.Components

@inherits ProjectStateBase

<CascadingValue Value="this" IsFixed="true">
    <div class="proj-state scrollbar-none" style="@CssHeight">
        <div class="proj-header clickable" @ondblclick="@toggleCollapsedFunc">
            <div class="row user-select-none">
                <div class="col d-flex fw-bold">
                    @if (ViewModel is { })
                    {
                        <FluentIcon class="user-select-none" OnClick="() => ToggleFollowAsync()"
                            Value="IconFollow" Title="@(isFollow ? "Перестать отслеживать" : "Отслеживать")" />
                        @if (ViewModel.ProjectInfo.IsPrivate)
                        {
                            <div class="align-self-center ms-2">
                                <FluentIcon
                                    Value="@(new Icons.Filled.Size16.LockClosed())"
                                    title="Приватный проект"
                                    Color="Color.Warning" />
                            </div>
                        }                        
                        <div class="ms-2 align-self-center">
                            @ViewModel.ProjectInfo.Title
                        </div>
                        <a class="align-self-center" href=@($"/project/{ViewModel.ProjectInfo.Id}")>
                            <FluentIcon class="ms-1" Width="18" Value="@(new Icons.Regular.Size20.ArrowCircleUpRight())" />
                        </a>
                    }
                </div>
                <div class="col align-self-center d-flex justify-content-end" style="margin-right: 10px;">
                    <i class="tip-hide" style="font-size: small;">
                        Двойной клик для рыскрытия/закрытия
                    </i>
                    <FluentIcon class="ms-2" OnClick="@toggleCollapsedFunc"
                        Value="CollapsedIcon" />
                </div>
            </div>
        </div>
        @if (!(ViewModel?.IsCollapsed ?? true))
        {
            if (Model is { })
            {
                <div class="d-flex flex-column position-relative" style="flex: auto !important;">
                    <div class="d-flex flex-column ms-3" style="flex: auto !important; white-space: nowrap !important; overflow-x: auto;">
                        <ProjectBoard></ProjectBoard>
                    </div>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center align-content-center user-select-none">
                    <FluentProgressRing />
                    <span class="ms-2">Загрузка...</span>
                </div>
            }
        }
    </div>
</CascadingValue>
