@using Cardmngr.Components.ProjectAggregate.Components

@inherits ProjectStateBase

<CascadingValue Value="this" IsFixed="true">
    <div class="proj-state scrollbar-none" style="@CssHeight">
        <div class="proj-header clickable" @ondblclick="@ToggleCollapsed">
            <div class="row user-select-none">
                <div class="col d-flex fw-bold text-black">
                    @if (ViewModel is { })
                    {
                        @if (ViewModel.ProjectInfo.IsPrivate)
                        {
                            <div class="align-self-center">
                                <Icon Name="IconName.LockFill" title="Приватный проект"
                                    Color="IconColor.Warning" />
                            </div>
                        }
                        <div class="ms-2 align-self-center">
                            @ViewModel.ProjectInfo.Title
                        </div>
                        <a class="align-self-center" href=@($"/project/{ViewModel.ProjectInfo.Id}")>
                            <Icon class="ms-1" Name="IconName.BoxArrowInDownLeft" />
                        </a>
                    }
                </div>
                <div class="col align-self-center d-flex justify-content-end" style="margin-right: 10px;">
                    <i class="tip-hide text-secondary" style="font-size: small;">
                        Двойной клик для рыскрытия/закрытия
                    </i>
                    <Icon class="clickable ms-2" @onclick="@ToggleCollapsed"
                        Name="@(ViewModel?.IsCollapsed ?? true ? IconName.ChevronDown : IconName.ChevronUp)" />
                </div>
            </div>
        </div>
        @if (!(ViewModel?.IsCollapsed ?? true))
        {
            if (Model is { })
            {
                <div class="d-flex flex-column position-relative" style="flex: auto !important;">
                    <div class="d-flex flex-column ms-3" style="flex: auto !important; white-space: nowrap !important; overflow-x: auto;">
                        <ProjectBoard></ProjectBoard>
                    </div>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center align-content-center user-select-none">
                    <Spinner class="fs-6" style="height: 20px; width: 20px;"/>
                    <span class="ms-2">Загрузка...</span>
                </div>
            }
        }
    </div>
</CascadingValue>
