@inherits KolComponentBase

@if (OnClick.HasDelegate)
{
    <div class="@Class" @onclick:stopPropagation @ondblclick:stopPropagation >
        @FluentBadge
    </div>
}
else
{
    <div class="@Class" >
        @FluentBadge
    </div>
}

@code {
    [Parameter] public Milestone Milestone { get; set; } = null!;

    RenderFragment FluentBadge =>
        @<div>
            @if (Milestone is { })
            {
                <div title="@Milestone.Title" @onclick="HandleClick" 
                    class=@($"d-flex {(OnClick.HasDelegate ? "clickable" : "")}") >
                    <FluentIcon Value="@(new MyIcons.Milestone())" Color="Color.Accent" class="me-1" />
                    <span style="font-size: 12px; font-weight: 500; color: var(--accent-fill-rest);" 
                        class="hide-max-140 user-select-none">
                        @Milestone.Title
                    </span>
                </div>
            }
        </div>;
}
