@inherits KolComponentBase

@if (OnClick.HasDelegate)
{
    <div class="@Class" @onclick:stopPropagation @ondblclick:stopPropagation >
        @FluentBadge
    </div>
}
else
{
    <div class="@Class" >
        @FluentBadge
    </div>
}

@code {
    [Parameter] public IOnlyofficeTask? Task { get; set; }
    [Parameter] public Milestone Milestone { get; set; } = null!;

    RenderFragment FluentBadge =>
        @<div>
            @if (Milestone is { })
            {
                var IsDeadlineOut = Task?.IsDeadlineOut(Milestone) == true || Milestone.IsDeadlineOut();
                (string title, Color color) data = IsDeadlineOut ? ("Просрочена", Color.Error) : ("Веха", Color.Accent);
                var title = Task?.IsDeadlineOut(Milestone) == true ? $"Задача просрочила веху: {Milestone.Deadline.ToShortDateString()}" : null;

                <div @onclick="HandleClick" 
                     title="@(title ?? data.title)" 
                     style="color: @data.color.GetDesc();"
                     class=@($"select-none text-xs flex items-center gap-1 {(OnClick.HasDelegate ? "cursor-pointer" : "")}") >

                    <FluentIcon Value="@(new MyIcons.Size16.Milestone())" class="min-w-4" Color="data.color" />
                    <span>@Milestone.Title</span>                    
                </div>
            }
        </div>;
}
