@inherits KolComponentBase

@if (OnClick.HasDelegate)
{
    <div class="@Class" @onclick:stopPropagation @ondblclick:stopPropagation >
        @FluentBadge
    </div>
}
else
{
    <div class="@Class" >
        @FluentBadge
    </div>
}

@code {
    [Parameter] public Milestone Milestone { get; set; } = null!;

    RenderFragment FluentBadge =>
        @<div>
            @if (Milestone is { })
            {
                (string title, Color color) data = Milestone.IsDeadlineOut() 
                    ? ("Просрочена", Color.Info)
                    : ("Веха", Color.Accent);

                <div @onclick="HandleClick" title="@data.title" class=@($"d-flex {(OnClick.HasDelegate ? "clickable" : "")}") >
                    <FluentIcon Value="@(new MyIcons.Size16.Milestone())" Color="data.color" class="me-1 align-self-center" />
                    <span style="font-size: 12px; font-weight: 500; color: @data.color.GetDesc();" 
                        class="user-select-none">
                        @Milestone.Title
                    </span>
                </div>
            }
        </div>;
}
