@using Milestone = Cardmngr.Domain.Entities.Milestone
@using Domain.Enums
@using Application.Clients.SignalRHubClients
@using Cardmngr.Shared.Utils.Filter

@inject AuthenticationStateProvider AuthenticationState

<div @onmouseenter="@(() => isHover = true)" @onmouseleave="@(() => isHover = false)"
    @onclick:preventDefault @onclick:stopPropagation @ondblclick:stopPropagation >
    <div class="w-100 d-flex overflow-hidden clickable timeline-badge @CssSelected" 
        style="background-color: @BadgeColor;"
        @onclick="() => ToggleMilestone(Milestone)" >
        <div class="position-relative hided-opt ms-1 @CssShowOptions" >
            <FluentIcon Title="Фильтр по вехе"
                Value="@(new Icons.Filled.Size16.Eye())" Color="Color.Fill" />
        </div>
        <FluentSpacer />
        <div title="@Milestone.Title" style="color: var(--fill-color);">
            @Milestone.Title
        </div>
        <FluentSpacer />
    </div>
    <div class="d-flex justify-content-center hided-opt @CssShowOptions" >
        <FluentIcon @onclick="@ShowDetailsModal" 
            Value="@(new Icons.Filled.Size16.Info())" />
    </div>
</div>

@code {
    private bool isHover;
    private string CssShowOptions => isHover ? "show-opt" : "";
    private string CssSelected => MilestoneTaskFilter.Contains(Milestone) ? "selected" : "";

    [CascadingParameter(Name = "DetailsModal")] ModalOptions Options { get; set; } = null!;
    [CascadingParameter] IModalService Modal { get; set; } = null!;
    [CascadingParameter] IProjectState State { get; set; } = null!;
    [CascadingParameter] ProjectHubClient ProjectHubClient { get; set; } = null!;
    [CascadingParameter] MilestoneTaskFilter MilestoneTaskFilter { get; set; } = null!;

    [Parameter] public Milestone Milestone { get; set; } = null!;

    void ToggleMilestone(Milestone milestone)
    {
        MilestoneTaskFilter.Toggle(Milestone);
        State.OnTasksChanged();
    }

    private string BadgeColor
    {
        get
        {
            if (Milestone.IsClosed()) return "rgb(64, 165, 120)";
            return Milestone.IsDeadlineOut() ? "var(--neutral-fill-strong-rest)" : "var(--accent-fill-rest)";
        }
    }

    private async Task ShowDetailsModal()
    {
        var paramerters = new ModalParameters
        {
            { "Model", Milestone },
            { "State", State },
            { "ProjectHubClient", ProjectHubClient }
        };

        await Modal.Show<MilestoneDetailsModal>("", paramerters, Options).Result;
    }
}
