<InfoItem @bind-PopoverOpen="@_popoverOpen"
          Title="Веха" Editable="!Disabled"
          Icon="new MyIcons.Size20.Milestone()" >
    <Content>
        <div class="w-fit">
            @if (_selectedMilestone is null)
            {
                <div class="text-info select-none @CssClass" >
                    Пусто
                </div>
            }
            else
            {
                <div class="group flex gap-1 items-center select-none @CssClass">
                    @_selectedMilestone.Title
                    @if (!Disabled)
                    {
                        <div class="duration-300 opacity-0 group-hover:opacity-100" @onclick:stopPropagation >
                            <FluentIcon Value="@(new Icons.Filled.Size12.DismissCircle())"
                                title="Сбросить"
                                @onclick="() => SelectMilestone(null)" />
                        </div>
                    }
                </div>
            }
        </div>
    </Content>
    <Popover>
        <div class="max-w-md w-details-popup flex flex-col gap-3">
            <FluentTextField ImmediateDelay="50"
                             Value="@_searchText" 
                             Immediate
                             Placeholder="Поиск вехи"
                             ValueChanged="OnSearch">
                <FluentIcon Slot="end" Value="@(new Icons.Filled.Size16.Search())" />
            </FluentTextField>
            <div class="max-h-52 overflow-auto">
                @foreach (var milestone in _searchedMilestones)
                {
                    <li class="even:bg-neutral-fill-hover flex gap-2 first:rounded-t-lg last:rounded-b-lg
                        items-center cursor-pointer p-1 text-xs"
                        @onclick="() => SelectMilestone(milestone)" >
                        <FluentIcon Value="@(new MyIcons.Size16.Milestone())"/>
                        <span>@milestone.Title</span>
                    </li>
                }
                @if (_searchedMilestones.Count == 0)
                {
                    <div class="text-xs">Ничего не найдено</div>
                }
            </div>
        </div>
    </Popover>
</InfoItem>
