<FluentAutocomplete
        TOption="TaskTag" AutoComplete="off"
        Disabled="@(!OnlyofficeTask?.CanDelete ?? false)" MaximumOptionsSearch="100"
        MaximumSelectedOptions="4"
        SelectedOptions="SelectedTags"
        SelectedOptionsChanged="SelectedTagsChanged"
        OnOptionsSearch="OnSearch"
        Placeholder="Нет" >

    <LabelTemplate>
        Метки 
        <FluentIcon Value="@(new Icons.Regular.Size20.Tag())" Style="margin: 0 4px;" />
    </LabelTemplate>

    <OptionTemplate>
        <TaskTagLabel Tag="@context" Color="@TagColorGetter.GetColor(context)" />
    </OptionTemplate>

    <SelectedOptionTemplate>
        <TaskTagLabel Tag="@context" Color="@TagColorGetter.GetColor(context)" />
    </SelectedOptionTemplate>

    <HeaderContent>
        @if (!IsAdd)
        {
            <div class="flex" style="font-size: small;">
                <FluentTextField Placeholder="Название метки" @bind-Value="newTagText" />
                <FluentButton Disabled="!CanCreate" class="ms-1" Appearance="Appearance.Outline" Type="ButtonType.Button" @onclick="CreateTag">
                    <FluentIcon Value="@(new Icons.Regular.Size12.Add())" Color="Color.Success" />
                </FluentButton>
            </div>
        }
    </HeaderContent>

    <MaximumSelectedOptionsMessage>
        Максимальное кол-во меток: 4
    </MaximumSelectedOptionsMessage>

    <FooterContent>
        @if (!context.Any())
        {
            <FluentLabel Style="font-size: 11px; text-align: center; width: 200px;">
                Нет результатов
            </FluentLabel>
        }
    </FooterContent>

</FluentAutocomplete>