@inherits KolComponentBase

<div @ref="@_elementRef" class="relative group/desc" >
    <MarkdownSection Content="@Description"
                    Class="@Class"
                    Style="@CssStyleResult" />
    @if (_hasMoreText)
    {
        <div class="absolute flex justify-center bottom-0 h-6 w-full" >
             <div class="group-hover/desc:opacity-100 p-1 opacity-0 transition-opacity rounded-full w-5 h-5 bg-layer-2/50 backdrop-blur-sm"
                  @onclick:stopPropagation
                  title="@(_showMore ? "Скрыть" : "Показать все")"
                  @onclick="ToggleShowMore" >
                @if (_showMore)
                {
                    <FluentIcon Value="@(new Icons.Regular.Size12.ChevronUp())" />
                }
                else
                {
                    <FluentIcon Value="@(new Icons.Regular.Size12.ChevronDown())" />
                }
             </div>
        </div>
    }
</div>
