@inherits KolComponentBase

<a href="@Href" class="feature-card @Class" style="@Style">
    <FluentIcon Value="Icon" Width="48px" />
    <FluentSpacer Width="15"/>
    <div class="flex flex-col">
        <span class="title">@Text</span>
        <span style="description">@Desc</span>
    </div>
</a>

@code {

    [Parameter] public string? Text { get; set; }
    [Parameter] public string? Desc { get; set; }
    [Parameter] public Icon Icon { get; set; } = null!;
    [Parameter] public string? Href { get; set; }

}
