@using PSC.Blazor.Components.MarkdownEditor.Enums

@inherits KolComponentBase

@if (_isEdit)
{
    <div class="relative @Class" style="@Style" @onclick="HandleClick" >
        <MarkdownEditor Value="@Text" MaxHeight=""
                        ValueChanged="(val) => _text = val"
                        AutoDownloadFontAwesome="false"
                        SpellChecker="false" >
            <Toolbar>
                <MarkdownToolbarButton Action="MarkdownAction.Bold" Icon="fa fa-bold" Title="Полужирный" />
                <MarkdownToolbarButton Action="MarkdownAction.Italic" Icon="fa fa-italic" Title="Курсив" />
                <MarkdownToolbarButton Action="MarkdownAction.Heading" Icon="fa fa-header fa-heading" Title="Заголовок" />

                <MarkdownToolbarButton Separator Action="MarkdownAction.Code" Icon="fa fa-code" Title="Код" />
                <MarkdownToolbarButton Action="MarkdownAction.Quote" Icon="fa fa-quote-left" Title="Цитата" />
                <MarkdownToolbarButton Action="MarkdownAction.UnorderedList" Icon="fa fa-list-ul" Title="Маркерованный список" />
                <MarkdownToolbarButton  Action="MarkdownAction.OrderedList" Icon="fa fa-list-ol" Title="Нумерованный список" />

                <MarkdownToolbarButton Separator Action="MarkdownAction.Link" Icon="fa fa-link" Title="Ссылка" />
                <MarkdownToolbarButton Action="MarkdownAction.Table" Icon="fa fa-table" Title="Таблица" />
            </Toolbar>
        </MarkdownEditor>

        <div class="absolute bottom-3 right-3 flex gap-2">
            <Button Class="rounded-lg px-3 py-1 duration-300 transition-colors hover:bg-neutral-hover text-xs"
                    @onclick="() => _isEdit = false" >
                Отменить
            </Button>
            <Button Class="rounded-lg px-3 py-1 text-white bg-accent text-xs"
                    @onclick="SubmitEditAsync" >
                Сохранить
            </Button>
        </div>
    </div>    
}
else
{
    <div class="group flex w-full @Class" style="@Style" @onclick="HandleClick" >
        @if (string.IsNullOrEmpty(Text))
        {
            if (Disabled)
            {
                <span class="text-info" >
                    @DisabledPlaceholder
                </span>                
            }
            else
            {
                <span @onclick="() => _isEdit = true"
                    class="text-info cursor-pointer">
                    @Placeholder
                </span>
            }
        }
        else
        {
            <MarkdownSection Content="@Text" Class="w-[95%]" />
        }
        <FluentSpacer />
        <Button Class="rounded-lg p-1 self-baseline opacity-0 group-hover:opacity-100"
                Disabled="Disabled"
                @onclick="() => _isEdit = true" 
                Title="Редактировать" >
            <FluentIcon Value="@(new Icons.Regular.Size16.Edit())" Color="Color.Info" />
        </Button>
    </div>
}
