@inherits OffcanvasBase

<div @ref="myOffcanvas" 
    class="offcanvas @delayedShow @CssPlacement @Class" 
    style="@Style z-index: 99; @($"width: {Width}px;")" 
    tabindex="-1" 
    id="offcanvasWithBackdrop" 
    @onkeyup="HandleKeyUp" >
    @if (ShowCloseBtn) 
    {
        <div class="position-absolute clickable w-100" style="z-index: 999; @CloseBtnRadiusStyle" 
            @onclick="async () => await CloseAsync()" >
            @if (Placement == MyOffcanvasPlacement.Start)
            {
                <div class="d-flex justify-content-end">
                    <FluentIcon Value="@(new Icons.Regular.Size20.ArrowCircleLeft())" />
                </div>
            }
            else
            {
                <FluentIcon Value="@(new Icons.Regular.Size20.ArrowCircleRight())" />
            }
        </div>
    }
    <div style="overflow-y: auto; overflow-x: hidden;" class="mt-2 h-100"> 
        @ChildContent
    </div>
</div>
<div class="offcanvas-backdrop fade @delayedShow" style="z-index: 2;" 
    @onclick="async () => await CloseAsync(ModalResult.Cancel())"></div>
