@page "/project-summary-info"

@using Cardmngr.Components.ProjectAggregate.Components

<div class="detal-background w-100" style="height: 100%;">
    <FluentProgress 
        Value="(int)ElementSwitcherService.MillisecondsElapsed" 
        Max="ElementSwitcherService.SwitchInterval"
        BackgroundColor="transparent" />
    
    @if (Projects is { })
    {
        <Smooth IsShowing="_smoothShowing" style="height: 94%;" >
            <SummaryInfoProjectState @ref="_currentState" Id="@ElementSwitcherService.Element" >
                <ProjectSummaryInfo CanSwitch="@CanSwitchHandler" />
            </SummaryInfoProjectState>
        </Smooth>
        <div class="summary-player-manager">
            <FluentIcon Value="@(new Icons.Filled.Size24.Previous())" @onclick="PreviousProject" />
            @if (ElementSwitcherService.Stopped)
            {
                <FluentIcon Value="@(new Icons.Filled.Size24.Play())" @onclick="ResumeTimer" />
            }
            else
            {
                <FluentIcon Value="@(new Icons.Filled.Size24.Pause())" @onclick="PauseTimer" />
            }
            <FluentIcon Value="@(new Icons.Filled.Size24.Next())" @onclick="NextProject" />
        </div>
    }
</div>