@page "/project-summary-info"

@using Cardmngr.Components.ProjectAggregate.Components

<div class="detal-background w-100" style="height: 100%;">
    <FluentProgress Value="_progress" Max="_progressMaxValue"  BackgroundColor="transparent" />
    
    @if (Projects is { } projects && _currentProjectId < projects.Length)
    {
        <Smooth IsShowing="_smoothShowing" style="height: 94%;" >
            <SummaryInfoProjectState @ref="_currentState" Id="@Projects[_currentProjectId]" >
                <ProjectSummaryInfo />
            </SummaryInfoProjectState>
        </Smooth>
        <div class="summary-player-manager">
            <FluentIcon Value="@(new Icons.Filled.Size24.Previous())" @onclick="PreviousProject" />
            @if (_timer.Enabled)
            {
                <FluentIcon Value="@(new Icons.Filled.Size24.Pause())" @onclick="PauseTimer" />
            }
            else
            {
                <FluentIcon Value="@(new Icons.Filled.Size24.Play())" @onclick="ResumeTimer" />
            }
            <FluentIcon Value="@(new Icons.Filled.Size24.Next())" @onclick="NextProject" />
        </div>
    }
</div>