@* @page "/project/new" *@

@attribute [Authorize]

<div class="middle-container ">
    <h3 class="font-bold mb-2">Создание проекта</h3>
    <FluentEditForm Model="_project"
                    class="flex flex-col gap-2"
                    OnValidSubmit="CreateProject">
        <FluentValidationValidator />

        <FluentTextField Name="Title"
                         Label="Название проекта"
                         @bind-Value="_project.Title" />

        <FluentValidationMessage For="() => _project.Title" />

        <AutoGrowTextArea Name="Description"
                          Label="Описание проекта"
                          @bind-Value="_project.Description" />
        <FluentDivider />

        <FluentAutocomplete Items="_users"
                            Class="mt-2"
                            Label="Менеджер проекта"
                            MaximumSelectedOptions="1"
                            @bind-SelectedOptions="SelectedResponsible"
                            Placeholder="Пользователи">

            <OptionTemplate Context="user">
                <FluentPersona Name="@user.DisplayName"
                               ImageSize="22px"
                               Image="@($"onlyoffice/api/people{user.AvatarSmall}")"/>
            </OptionTemplate>

            <SelectedOptionTemplate Context="user">
                <FluentPersona Name="@user.DisplayName"
                               ImageSize="22px"
                               Image="@($"onlyoffice/api/people{user.AvatarSmall}")"/>
            </SelectedOptionTemplate>
        </FluentAutocomplete>

        <FluentValidationMessage For="() => _project.ResponsibleId" />
        
        Команда
        Теги
        
        <FluentDivider />
        
        <FluentRadioGroup @bind-Value="_project.IsPrivate" Orientation="Orientation.Vertical" Class="gap-1">
            <FluentRadio Value="true">
                <div class="flex gap-2">
                    <FluentIcon Style="min-width: 24px;" Value="@(new Icons.Regular.Size28.LockClosed())"/>
                    <div class="flex flex-col">
                        <span class="font-bold">Приватный</span>
                        <span class="text-info">Проект будет доступен только участникам команды</span>
                    </div>
                </div>
            </FluentRadio>
            <FluentRadio Value="false">
                <div class="flex gap-2">
                    <FluentIcon Style="min-width: 28px;" Width="28px" Value="@(new Icons.Regular.Size24.BookGlobe())"/>
                    <div class="flex flex-col">
                        <span class="font-bold">Публичный</span>
                        <span class="text-info">Проект будет доступен всем</span>
                    </div>
                </div>
            </FluentRadio>
        </FluentRadioGroup>
        
        <FluentDivider />

        <FluentButton Type="ButtonType.Submit"
                      Class="self-end"
                      Color="white"
                      BackgroundColor="var(--success)">
            Создать проект
        </FluentButton>
    </FluentEditForm>
    
</div>
