@inject NavigationManager Nav

<div id="project-options" class="flex gap-3" >
    @if (Nav.Uri.EndsWith(_ganttUri))
    {
        @RenderOption((new Icons.Filled.Size24.GanttChart(), _ganttUri, "Режим Ганта"))
    }
    else
    {
        @RenderOption((new Icons.Regular.Size24.GanttChart(), _ganttUri, "Режим Ганта"))
    }

    @if (Nav.Uri.EndsWith(_boardUri))
    {
        @RenderOption((new Icons.Filled.Size20.GridKanban(), _boardUri, "Режим доски"))
    }
    else
    {
        @RenderOption((new Icons.Regular.Size20.GridKanban(), _boardUri, "Режим доски"))
    }
</div>

@code {

    private RenderFragment<(Icon icon, string href, string title)> RenderOption = (option) => 
        @<a href="@option.href" title="@option.title" class="p-1 transition-colors rounded-md hover:bg-neutral-fill-hover items-center">
            <FluentIcon Width="20px" Value="@option.icon" />
        </a>;
}
