@inherits KolComponentBase

@RenderMessage

@code {

    private RenderFragment RenderMessage => RenderMessageWithInfo(_msgTypes[Feed.Value.Item]);

    [CascadingParameter] Dictionary<string, UserInfo> FeedUsers { get; set; } = null!;

    private RenderFragment RenderMessageWithInfo(FeedMsgType typeInfo) =>
        @<div @key="Feed.Value.Id" class="flex flex-col gap-2 w-full">
            <div class="flex gap-3 overflow-hidden">
                <FluentIcon Value="typeInfo.Icon" Color="typeInfo.Color" style="min-width: 20px;" />
                <div>
                    <span class="font-bolder">@typeInfo.Header. </span>
                    @if (typeInfo.Type != "participant")
                    {
                        @Feed.Value.Title
                    }
                </div>
            </div>
            <div>
                @if (typeInfo.Type == "milestone" && Feed.GroupedFeeds.Count > 0)
                {
                    <ul>
                        @foreach (var groupedFeed in Feed.GroupedFeeds)
                        {
                            <li>@groupedFeed.Value.Title</li>
                        }
                    </ul>
                }
                else
                {
                    @Feed.Value.Description.RenderHtml();
                }
            </div>
            <div class="flex items-center">
                <div>
                    <UserAvatar User="FeedUsers[Feed.Value.AuthorId.ToString()]" ShowName />
                    @if (typeInfo.Type == "participant")
                    {
                        foreach (var groupedFeed in Feed.GroupedFeeds)
                        {
                            <UserAvatar User="FeedUsers[groupedFeed.Value.AuthorId.ToString()]" ShowName />                        
                        }
                    }
                </div>
                <FluentSpacer />
                <span style="color: @CardmngrColors.Info;" class="self-end">@Feed.Value.CreatedDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</span>
            </div>
        </div>;
}
