@inherits KolComponentBase

@RenderMessage

@code { // TODO: separate rendering
    private RenderFragment RenderMessageWithInfo(FeedMsgType typeInfo) =>
        @<div @key="Feed.Value.Id" class="flex flex-col gap-2 w-full">
            <div class="flex gap-3 items-center overflow-hidden">
                <FluentIcon Value="typeInfo.Icon" Color="typeInfo.Color" style="min-width: 20px;" />
                <div>
                    <span class="font-bolder">@typeInfo.Header. </span>
                    @if (typeInfo.Type != "participant")
                    {
                        @Feed.Value.Title
                    }
                </div>
                @if (typeInfo.Type == "task" && _taskResponsibles?.Count > 0)
                {
                    <FluentSpacer />
                    <div class="flex gap-1 flex-wrap">
                        @foreach (var user in _taskResponsibles)
                        {
                            <UserAvatar ShowTooltip User="user" Size="20" />
                        }
                    </div>
                }
            </div>
            <div>
                @if (typeInfo.Type == "milestone" && Feed.GroupedFeeds.Count > 0)
                {
                    @foreach (var groupedFeed in Feed.GroupedFeeds)
                    {
                        <div>@groupedFeed.Value.Title</div>
                    }
                }
                else
                {
                    @Feed.Value.Description.RenderHtml();
                }
            </div>
            <div class="flex items-center">
                <div>
                    <UserAvatar User="FeedUsers[Feed.Value.AuthorId.ToString()]" ShowName />
                    @if (typeInfo.Type == "participant")
                    {
                        foreach (var groupedFeed in Feed.GroupedFeeds)
                        {
                            <UserAvatar User="FeedUsers[groupedFeed.Value.AuthorId.ToString()]" ShowName />                        
                        }
                    }
                </div>
                <FluentSpacer />
                <span style="color: @CardmngrColors.Info;" class="self-end">@Feed.Value.CreatedDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</span>
            </div>
        </div>;
}
