
@inherits KolComponentBase

<ModuleCard Items="@Feeds" Class="@Class" Style="@Style" >
    <Header>
        <div class="header">
            @if (string.IsNullOrEmpty(Name))
            {
                <FluentIcon Value="@(new Icons.Regular.Size20.BookInformation())" Color="Color.Info" />
                <span style="color: @CardmngrColors.Inverse;">Проекты</span>
            }
            else
            {
                <FluentIcon style="min-width: 20px;" Value="@(new Icons.Regular.Size20.Book())" Color="Color.Info" />
                <a href="@_projectUrl">@Name</a>
                <FluentSpacer/>
                <div class="hide-button">
                    <FluentButton IconStart="@(new Icons.Regular.Size20.EyeOff())" Appearance="Appearance.Lightweight"
                        @onclick="() => _feedFilterService.ExcludeProjectAsync(Name)" Title="Скрыть проект" />
                </div>
            }
        </div>
    </Header>
    
    <ItemRenderer Context="feed" >
        <FeedProjectMessage Feed="feed" />
    </ItemRenderer>
</ModuleCard>