@if (IsCollapsed)
{
    <div class="d-flex flex-column" style="margin-top: 7px;">
        <FluentBadge class="align-self-center" Appearance="Appearance.Accent" >@TaskCount</FluentBadge>
        <span class="title text-vertical align-self-center mt-1">
            @TaskStatus.Title
        </span>
        <div class="align-self-center">
            @if (TaskStatus.Image is { })
            {
                <img src=@($"data:{TaskStatus.ImageType};base64, {TaskStatus.Image}")>
            }
        </div>
    </div>
}
else
{
    <div class="d-flex w-100 align-self-baseline">
        <div class="d-flex justify-content-start align-items-center">
            <FluentBadge Class="align-self-center" Appearance="Appearance.Accent" >
                @TaskCount
            </FluentBadge>
            <span class="title ms-1 user-select-none">
                @TaskStatus.Title
            </span>
            @if (TaskStatus.Image is { })
            {
                <img src=@($"data:{TaskStatus.ImageType};base64, {TaskStatus.Image}") class="ms-1" style="width: 20px;">
            }
        </div>
        <FluentSpacer/>
        @if (TaskStatus.Available)
        {
            <div class="d-flex justify-content-end btn-hide">
                <FluentButton Style="padding: 5px !important; margin-right: -5px;"
                    BackgroundColor="@Color.Success.GetDesc()" Title="Добавить задачу"
                    OnClick="@ShowCreateTaskModal"
                >
                    <FluentIcon Value="@(new Icons.Regular.Size16.Add())" CustomColor="white" Color="Color.Custom"/>
                </FluentButton>
            </div>
        }
    </div>
}
