@if (IsCollapsed)
{
    <div class="flex flex-col" style="margin-top: 7px;">
        <span class="title text-vertical self-center mt-1">
            @TaskStatus.Title
        </span>
        <FluentBadge class="self-center" Appearance="Appearance.Neutral" >@TaskCount</FluentBadge>
    </div>
}
else
{
    <div class="flex w-full self-baseline">
        <div class="flex justify-content-start items-center">
            <span class="select-none text-sm font-bold">
                @TaskStatus.Title
            </span>
            <div Class="self-center text-info ms-2">
                @TaskCount
            </div>
        </div>
        <FluentSpacer/>
        @if (TaskStatus.Available)
        {
            <div class="flex justify-end btn-hide">
                <FluentButton 
                    Style="padding: 5px !important; margin-right: -5px;" 
                    Title="Добавить задачу"
                    Appearance="Appearance.Outline"
                    OnClick="@ShowCreateTaskModal" >
                    <FluentIcon Value="@(new Icons.Filled.Size16.Add())" CustomColor="@CardmngrColors.Info" Color="Color.Custom"/>
                </FluentButton>
            </div>
        }
    </div>
}
