<Offcanvas Class="my-offcanvas my-offcanvas-left">
    <OffcanvasHeader Class="py-1 flex flex-col" Style="padding-top: 20px !important;" >
        <div class="flex flex-row self-start mb-2 w-full">
            <span class="self-center w-75">@State.Project.Title</span>
            <FluentBadge title="Всего задач" 
                         class="p-1 ms-1 select-none self-center" 
                         Appearance="Appearance.Accent" >
                @State.Tasks.Count
            </FluentBadge>
            @if (State.Project.IsPrivate)
            {
                <div class="ms-1 self-center">
                    <Tool Color="Color.Warning" TooltipTitle="Приватный проект"
                        Icon="@(new Icons.Filled.Size20.LockClosed())" />
                </div>
            }
            <FluentSpacer />
            <FluentIcon id="follow-icon" class="select-none ms-1 min-w-5" OnClick="() => State.ToggleFollowAsync()"
                Value="IconFollow" Title="@(State.Project.IsFollow ? "Перестать отслеживать" : "Отслеживать")" />
        </div>            
        <div class="w-full header"></div>
    </OffcanvasHeader>
    <div class="row mt-2 items-center px-3">
        <div class="col">
            <i class="font-light" style="font-size: 13px;">
                Создан - @State.Project.Created.ToShortDateString()
            </i>
        </div>
        <div class="col flex justify-end">                
            @ProjectStatusBadge.RenderStatus(State.Project.Status.GetBadgeData())
        </div>
    </div>
    <OffcanvasBody Class="flex flex-col gap-2">
        <TimeRangeView Start="State.Start()" End="State.Deadline()" />
        <span>@State.Project.Description</span>
        <FluentCard >
            <div class="flex items-center">
                <FluentIcon Value="@(new Icons.Filled.Size20.Sparkle())" />
                Вехи
                <FluentBadge class="p-1" >@State.Milestones.Count</FluentBadge>
                <FluentSpacer />
                <Tool Disabled="@(State.ReadOnly || !State.Project.CanEdit)"
                    Icon="@(new Icons.Regular.Size16.Add())" Color="Color.Success"
                    OnClick="ShowMilestoneCreation" TooltipTitle="Добавить веху" />
            </div>
            <div class="m-0 select-none" style="max-height: 190px; overflow: auto;">
                <MilestoneList State="State" />
            </div>
        </FluentCard>
        <FluentCard >
            <div>
                <FluentIcon Value="@(new Icons.Filled.Size20.People())" />
                Команда 
                <FluentBadge class="p-1" Appearance="Appearance.Accent">@State.Team.Count</FluentBadge>
            </div>
            <div style="max-height: 255px; overflow: auto;">
                <UserList Users="@State.Team" />
            </div>
        </FluentCard>
        <div class="flex items-center mt-2">
            <FluentIcon Value="@(new Icons.Filled.Size20.Person())" />
            Менеджер проекта
            <FluentSpacer />
            <UserBadge User="@State.Project.Responsible" />
        </div>
    </OffcanvasBody>
</Offcanvas>
