<Offcanvas Class="my-offcanvas my-offcanvas-left">
    <OffcanvasHeader Class="py-1 flex flex-col" >
        <StatusBar Created="State.Project.Created"
                   Updated="State.Project.Updated" />
        <div class="flex flex-row self-start mb-2 w-full">
            <span class="self-center w-75">@State.Project.Title</span>
            <FluentBadge title="Всего задач" 
                         class="p-1 ms-1 select-none self-center" 
                         Appearance="Appearance.Accent" >
                @State.Tasks.Count
            </FluentBadge>
            @if (State.Project.IsPrivate)
            {
                <div class="ms-1 self-center">
                    <Tool Color="Color.Warning" TooltipTitle="Приватный проект"
                        Icon="@(new Icons.Filled.Size20.LockClosed())" />
                </div>
            }
            <FluentSpacer />
            <FluentIcon id="follow-icon" class="select-none ms-1 min-w-5" OnClick="ToggleFollowAsync"
                Value="IconFollow" Title="@(State.Project.IsFollow ? "Перестать отслеживать" : "Отслеживать")" />
        </div>            
        <div class="w-full header"></div>
    </OffcanvasHeader>
    <OffcanvasBody Class="flex flex-col gap-2">
        @if (!string.IsNullOrEmpty(State.Project.Description))
        {
            <span>@State.Project.Description</span>
        }        
        <FluentCard style="padding: 7px !important;" >
            <div class="flex items-center">
                <FluentIcon Value="@(new Icons.Filled.Size20.Sparkle())" />
                Вехи
                <FluentBadge class="p-1" >@State.Milestones.Count</FluentBadge>
                <FluentSpacer />
                <Tool Disabled="@(State.ReadOnly || !State.Project.CanEdit)"
                    Icon="@(new Icons.Regular.Size16.Add())" Color="Color.Success"
                    OnClick="ShowMilestoneCreation" TooltipTitle="Добавить веху" />
            </div>
            <div class="m-0 select-none" style="max-height: 190px; overflow: auto;">
                <MilestoneList State="State" />
            </div>
        </FluentCard>
        <DetailsCategory Open="true" Header="Параметры" >
            <Content>
                <div class="flex flex-col gap-5">
                    <InfoItem Title="Период"
                              Icon="new Icons.Filled.Size20.Calendar()">
                        <Content>
                            <DateRangeView 
                                Start="State.Start()"
                                End="State.Deadline()"
                                EndReadOnly StartReadOnly />
                        </Content>
                    </InfoItem>
                    <InfoItem Title="Менеджер"
                              Icon="new Icons.Filled.Size20.Person()">
                        <Content>
                            <div class="w-fit">
                                <div class="flex gap-1 text-xs py-0 px-1 items-center rounded-full hover:bg-layer-1 transition-colors">
                                    <UserAvatar Style="padding-top: 0px !important; padding-bottom: 0px !important;" 
                                                User="@State.Project.Responsible" 
                                                Size="20" 
                                                ShowName />
                                </div>
                            </div>
                        </Content>
                    </InfoItem>
                    <InfoItem Title="Команда"
                              Icon="new Icons.Filled.Size20.People()">
                        <Content>
                            <div class="flex gap-1 flex-wrap items-center">
                                @foreach (var user in State.Team)
                                {
                                    <div class="flex gap-1 text-xs py-1 px-1 items-center rounded-full hover:bg-layer-1 transition-colors">
                                        <UserAvatar User="user" Size="20" ShowName Style="padding-top: 0px !important; padding-bottom: 0px !important;" />
                                    </div>
                                }
                            </div>
                        </Content>
                    </InfoItem>
                </div>
            </Content>
        </DetailsCategory>
        <Button class="py-1 px-2 rounded-lg !self-end text-inverse bg-neutral-fill-hover mt-3 hover:bg-neutral-hover transition-colors duration-200"
            @onclick="ShowCreateTaskModal" >
            <div class="flex gap-1">
                <FluentIcon Value="@(new Icons.Filled.Size16.Add())" Color="Color.Custom" CustomColor="@CardmngrColors.Inverse" />
                Добавить задачу
            </div>
        </Button>
    </OffcanvasBody>
</Offcanvas>
