<Offcanvas Class="my-offcanvas round" Width="550">
    <OffcanvasHeader Class="py-1 flex flex-col" >
        <StatusBar Created="State.Project.Created"
                   Updated="State.Project.Updated" />
        <div class="flex flex-row self-start mb-2 w-full">
            <span class="self-center w-75 font-bold text-sm">@State.Project.Title</span>
            @if (State.Project.IsPrivate)
            {
                <div class="ms-1 self-center">
                    <Tool Color="Color.Warning" TooltipTitle="Приватный проект"
                        Icon="@(new Icons.Filled.Size20.LockClosed())" />
                </div>
            }
            <FluentSpacer />
            <FluentIcon id="follow-icon" class="select-none ms-1 min-w-5" OnClick="ToggleFollowAsync"
                Value="IconFollow" Title="@(State.Project.IsFollow ? "Перестать отслеживать" : "Отслеживать")" />
        </div>            
        <div class="w-full header"></div>
    </OffcanvasHeader>
    <OffcanvasBody Class="flex flex-col gap-2">
        @if (!string.IsNullOrEmpty(State.Project.Description))
        {
            <span>@State.Project.Description</span>
        }
        <DetailsCategory Open="true" >
            <HeaderTemplate Context="open" >
                <div class="flex mb-1 items-center">
                    Вехи
                    @if (open)
                    {
                        <FluentIcon Value="@(new Icons.Filled.Size16.ChevronDown())" Color="Color.FillInverse" />
                    }
                    else
                    {
                        <FluentIcon Value="@(new Icons.Filled.Size16.ChevronUp())" Color="Color.FillInverse" />
                    }
                    <FluentSpacer />
                    <div @onclick:stopPropagation>
                        <Button @onclick="ShowMilestoneCreation" class="p-1 rounded-md border hover:bg-neutral-hover transition-colors duration-200" style="border-color: var(--gantt-border-color);"
                            Disabled="@(State.ReadOnly || !State.Project.CanEdit)" Title="Добавить веху"  >
                            <FluentIcon Value="@(new Icons.Filled.Size16.Add())" Color="Color.Custom" CustomColor="@CardmngrColors.Inverse" />
                        </Button>
                    </div>
                </div>
            </HeaderTemplate>
            <Content>
                <MilestoneList State="State" />
            </Content>
        </DetailsCategory>
        <DetailsCategory Open="true" Header="Параметры" >
            <Content>
                <div class="flex flex-col gap-5">
                    <InfoItem Title="Период"
                              Icon="new Icons.Filled.Size20.Calendar()">
                        <Content>
                            <DateRangeView 
                                Start="State.Start()"
                                End="State.Deadline()"
                                EndReadOnly StartReadOnly />
                        </Content>
                    </InfoItem>
                    <InfoItem Title="Менеджер"
                              Icon="new Icons.Filled.Size20.Person()">
                        <Content>
                            <div class="w-fit">
                                <div class="flex gap-1 text-xs py-0 px-1 items-center rounded-full hover:bg-layer-1 transition-colors">
                                    <UserAvatar User="@State.Project.Responsible" 
                                                Size="20" 
                                                ShowName />
                                </div>
                            </div>
                        </Content>
                    </InfoItem>
                    <InfoItem Title="Команда"
                              Icon="new Icons.Filled.Size20.People()">
                        <Content>
                            <div class="flex gap-1 flex-wrap items-center">
                                @foreach (var user in State.Team)
                                {
                                    <div class="flex gap-1 text-xs py-1 px-1 items-center rounded-full hover:bg-layer-1 transition-colors">
                                        <UserAvatar User="user" Size="20" ShowName Style="padding-top: 0px !important; padding-bottom: 0px !important;" />
                                    </div>
                                }
                            </div>
                        </Content>
                    </InfoItem>
                </div>
            </Content>
        </DetailsCategory>
        <Button class="py-1 px-2 rounded-md border !self-end text-inverse mt-3 hover:bg-neutral-hover transition-colors duration-200"
                style="border-color: var(--gantt-border-color);"
            @onclick="ShowCreateTaskModal" >
            <div class="flex gap-1">
                <FluentIcon Value="@(new Icons.Filled.Size16.Add())" Color="Color.Custom" CustomColor="@CardmngrColors.Inverse" />
                Добавить задачу
            </div>
        </Button>
    </OffcanvasBody>
</Offcanvas>
