@inherits KolComponentBase

<div class="d-flex flex-column @(OnClick.HasDelegate ? "clickable" : "") @Class" style="@Style" @onclick="OnClick" >    
    <FluentBadge class="@(User is { } ? "py-0" : "")" BackgroundColor="@BadgeColor" >
        @if (User is { })
        {
            <UserAvatar ShowName="true" Size="25" User="User" />
        }
        else
        {
            <span class="user-select-none">Выберите ответственного</span>
        }
    </FluentBadge>
    <span style="font-size: 11px; margin-right: 8px;" class="d-flex justify-content-end">@Title</span>
</div>

@code {

    [Parameter] public UserInfo? User { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string BadgeColor { get; set; } = "green";

    [Parameter] public EventCallback OnClick { get; set; }

}
