@inherits KolComponentBase

<div class="flex flex-col @(OnClick.HasDelegate ? "clickable" : "") @Class" style="@Style" @onclick="HandleClick" >    
    <FluentBadge class="@(User is { } ? "py-0" : "")" Circular="true" BackgroundColor="@BadgeColor" >
        @if (User is { })
        {
            <UserAvatar ShowName="true" Size="25" User="User" />
        }
        else
        {
            <span class="select-none">Выберите ответственного</span>
        }
    </FluentBadge>
    <span style="font-size: 11px; margin-right: 8px;" class="flex justify-end">@Text</span>
</div>

@code {

    [Parameter] public UserInfo? User { get; set; }
    [Parameter] public string? Text { get; set; }
    [Parameter] public string BadgeColor { get; set; } = "green";
}
