
<div>
    <div class="dashboard-task-card @CssHighPriority @Task.CssDeadline()">
        <div class="d-flex">
            <div class="fs-1 max-height-100 title pre-wrap " style="text-align: center;">@Task.Title</div>
        </div>
        <div class="align-self-end d-flex mt-1">
            @if (Task.IsDeadlineOut())
            {
                <FluentIcon Value="@(new Icons.Regular.Size24.Fire())" Color="Color.Error" />
            }
            else if (Task.IsSevenDaysDeadlineOut())
            {
                <FluentIcon Value="@(new Icons.Filled.Size24.Warning())" Color="Color.Warning" />
            }
            <span class="fs-5 ms-2 @(Task.IsDeadlineOut() ? "text-danger" : "fw-lighter")" >
                @Task.Deadline?.ToString("d MMM yyyy г.")
            </span>
        </div>
    </div>
</div>