@using Domain.Enums

<li class="task-card @CssDeadline" @onclick="OpenModal" >
    <div class="container py-1 px-4 default-text" style="min-height: 100px;">
        <div class="row py-1">
            <div class="px-0 d-flex flex-row">
                @if (Task.Priority == Priority.High)
                {
                    <div style="margin-right: 5px;">
                        <Tool IconName="IconName.ArrowUpCircleFill" IconColor="IconColor.Primary" 
                            TooltipTitle="Приоритет - Высокий" TooltipPlacement="TooltipPlacement.Bottom" />
                    </div>
                }
                <div style="overflow: hidden;" class="fw-bold">@Task.Title</div>
            </div>
        </div>
        @if (Task.Description is { })
        {
            <div class="row fw-light max-height-100" >
                @Task.Description
            </div>
        }
        @if (Task.Subtasks.Any())
        {
            <div class="row py-1">
                <div class="d-flex justify-content-end">
                    + @Task.Subtasks.Count() подзадачи
                </div>
            </div>
        }
        @if (Task.MilestoneId is { })
        {
            <div class="row py-1">
                <div class="px-0">
                    <MilestoneLabel Milestone="State.TaskMilestone(Task)" />
                </div>
            </div>
        }
        @if (Task.Responsibles.Any())
        {
            <div class="row py-1">
                <div class="px-0">
                    <ResponsiblesView Responsibles="Task.Responsibles" ImageSize="25" ShowName="true" MaxCount="2" />
                </div>
            </div>
        }
        @if (Task.Deadline is { })
        {
            <div class="row py-1">
                <div class="d-flex p-0 justify-content-end align-items-center">
                    @if (Task.IsDeadlineOut())
                    {
                        <Tool IconName="IconName.Fire" IconColor="IconColor.Danger" 
                            TooltipTitle="@(GetDeadlineString())" TooltipPlacement="TooltipPlacement.Left" />
                        <span class="small ms-2 text-danger" >
                            Крайний срок:
                            @Task.Deadline?.ToString("d MMM yyyy г.")</span>
                    }
                    else
                    {
                        <span class="small ms-2 fw-lighter" >
                            Крайний срок:
                            @Task.Deadline?.ToString("d MMM yyyy г.")</span>
                    }
                </div>
            </div>
        }
    </div>
</li>
