<Smooth ShowOnFirstRender Delay="TimeSpan.FromMilliseconds(500)">
    <div class="task-card default-text @Task.CssDeadline()" @onclick="openModalAction" >
        <div class="d-flex @CssMarginTitle">
            @if (Task.Priority == Priority.High)
            {
                <FluentIcon Value="@(new Icons.Filled.Size20.ArrowCircleUp())" Color="Color.Accent" 
                    Title="Приоритет - Высокий" Style="margin-right: 5px; min-width: 20px;" />
            }
            <div class="fw-bold fs-6 max-height-100 title pre-wrap">@Task.Title</div>
        </div>
        @if (Task.Description is not null)
        {
            <div class="fw-light max-height-100 title pre-wrap" >
                @Task.Description
            </div>
        }
        @if (Task.Subtasks.Count > 0)
        {
            <div class=" d-flex justify-content-end">
                + @Task.Subtasks.Count подзадачи
            </div>
        }
        @if (Task.MilestoneId is not null)
        {
            <MilestoneLabel class="d-flex justify-content-end align-baseline me-1" 
                Milestone="@State.GetMilestone(Task.MilestoneId)" />
        }
        @if (Task.Responsibles.Count > 0)
        {
            <ResponsiblesView Responsibles="@Task.Responsibles" ImageSize="25" ShowName="true" MaxCount="2" />
        }
        @if (Task.Tags.Count > 0)
        {
            <div class="d-flex flex-wrap gap-1">
                @foreach (var tag in Task.Tags)
                {
                    <TaskTagLabel Tag="tag" Color="@TagColorGetter.GetColor(tag)" />
                }
            </div>
        }
        @if (Task.Deadline is not null)
        {
            <div class="d-flex p-0 justify-content-end align-items-center">
                @if (Task.IsDeadlineOut())
                {
                    <span class="small deadline-msg text-error">
                        @GetDeadlineString("Просрочено {0} {1} назад")
                    </span>
                    <FluentSpacer />
                    <FluentIcon Value="@(new Icons.Regular.Size16.Fire())" Color="Color.Error" />
                }
                else if (Task.IsSevenDaysDeadlineOut())
                {
                    <span class="small deadline-msg" style="color: var(--warning);">
                        @(GetDeadlineString("Истечет через {0} {1}"))
                    </span>
                    <FluentSpacer />
                    <FluentIcon Value="@(new Icons.Filled.Size16.Warning())" Color="Color.Warning" />
                }
                <span class="small ms-2 
                    @(Task.IsDeadlineOut() ? "text-danger" : Task.IsSevenDaysDeadlineOut() ? "text-warning" : "fw-lighter")" >
                    Крайний срок:
                    @Task.Deadline?.ToString("d MMM yyyy г.")
                </span>
            </div>
        }
    </div>
</Smooth>