<Smooth ShowOnFirstRender Delay="TimeSpan.FromMilliseconds(500)">
    <div class="task-card default-text @Task.CssDeadline()" @onclick="OpenModal" >
        <div class="flex @CssMarginTitle">
            @if (Task.Priority == Priority.High)
            {
                <FluentIcon Value="@(new Icons.Filled.Size20.ArrowCircleUp())" Color="Color.Accent" 
                    Title="Приоритет - Высокий" Style="margin-right: 5px; min-width: 20px;" />
            }
            <div class="font-bold text-base max-height-100 title pre-wrap">@Task.Title</div>
        </div>
        @if (Task.Description is not null)
        {
            <div class="font-light max-height-100 title pre-wrap" >
                @Task.Description
            </div>
        }
        @if (Task.Subtasks.Count > 0)
        {
            <div class=" flex justify-end">
                + @Task.Subtasks.Count подзадачи
            </div>
        }
        @if (Task.MilestoneId is not null)
        {
            <MilestoneLabel class="flex justify-end align-baseline me-1" 
                Milestone="@State.GetMilestone(Task.MilestoneId)" />
        }
        @if (Task.Responsibles.Count > 0)
        {
            <ResponsiblesView Responsibles="@Task.Responsibles" ImageSize="25" ShowName="true" MaxCount="2" />
        }
        @if (Task.Tags.Count > 0)
        {
            <div class="flex flex-wrap gap-1">
                @foreach (var tag in Task.Tags)
                {
                    <TaskTagLabel Tag="tag" Color="@TagColorGetter.GetColor(tag)" />
                }
            </div>
        }
        @if (Task.Deadline != null || Task.StartDate != null)
        {
            <FluentSpacer />
            <div class="flex p-0 text-xs justify-end items-center">
                @if (Task.IsDeadlineOut())
                {
                    <span class="deadline-msg text-error" title="@($"{(DateTime.Now - Task.Deadline!.Value).Days} ден. назад")">
                        @GetDeadlineString()
                    </span>
                    <FluentSpacer />
                }
                <DateRangeView ReadOnly="true"
                               Start="Task.StartDate"
                               End="Task.Deadline"
                               StartDateRender="@RenderStart"
                               EndDateRender="@RenderDeadline"/>
            </div>
        }
    </div>
</Smooth>

@code {

    private static RenderFragment<DateTime?> RenderStart = date =>
        @<div>
            @if (!date.HasValue)
            {
                <span class="italic text-info" title="Не установлен">???</span>
            }
            else
            {
                <span>@date.Value.ToString(GetFormatDependOnYear(date.Value))</span>
            }
        </div>;

    private RenderFragment<DateTime?> RenderDeadline => date =>
        @<div>
            @if (!date.HasValue)
            {
                <span class="italic text-info" title="Не установлен">???</span>
            }
            else
            {
                <span class="flex gap-1">
                    @if (Task.IsDeadlineOut())
                    {
                        <FluentIcon Value="@(new Icons.Regular.Size16.Fire())" Color="Color.Error" title="Срок просрочен" />
                        <span class="text-error" >@date.Value.ToString(GetFormatDependOnYear(date.Value))</span>
                    }
                    else if (Task.IsSevenDaysDeadlineOut())
                    {
                        <FluentIcon Value="@(new Icons.Filled.Size16.Warning())" 
                                    Color="Color.Warning"
                                    title="Срок скоро истечет" />
                        <span class="text-warning">@date.Value.ToString(GetFormatDependOnYear(date.Value))</span>
                    }
                    else
                    {
                        <span>@date.Value.ToString(GetFormatDependOnYear(date.Value))</span>
                    }
                </span>
            }
        </div>;

    private static string GetFormatDependOnYear(DateTime date) => date.Year == DateTime.Now.Year
            ? "d MMM"
            : "d MMM yyyy";
}