@using ColorType = System.Drawing.Color

@inherits KolComponentBase

<div class="flex gap-1 px-1 select-none rounded-lg @Class" 
     style="background-color: @Color.WithAlpha(0.5).ToRgbaText(); @Style"
     @onclick="HandleClick" >
    <FluentIcon Width="15" Value="@(new Icons.Filled.Size20.Tag())" />
    <div class="self-center" style="margin-right: 2px;">@Tag.Name</div>
    @if (Editable)
    {
        <div @onclick:stopPropagation class="self-center">
            <FluentIcon Width="15" 
                        title="Удалить"
                        Value="@(new Icons.Filled.Size12.DismissCircle())" 
                        OnClick="() => OnDismiss.InvokeAsync(Tag)" />
        </div>
    }
</div>

@code {
    [Parameter] public TaskTag Tag { get; set; } = null!;
    [Parameter] public ColorType Color { get; set; } = ColorType.Beige;
    [Parameter] public bool Editable { get; set; }

    [Parameter] public EventCallback<TaskTag> OnDismiss { get; set; }
}