@using Cardmngr.Reports

<div class="d-flex flex-wrap">
    <div class="col">
        <h4>Созданные задачи</h4>
    </div>
    <div class="col">
        <FluentCard AreaRestricted="false" style="background-color: var(--neutral-layer-3); box-shadow: none; border: none;">
            <div class="d-flex flex-column">
                <div class="d-flex flex-column gap-3">
                    <FluentAutocomplete Placeholder="Все" 
                        Label="Проект:"
                        AutoComplete="off" style="max-width: 500px;"
                        TOption="Project" MaximumOptionsSearch="100"
                        IconSearch="@(new Icons.Regular.Size20.ProjectionScreen())" >

                    </FluentAutocomplete>

                    <div class="d-flex gap-3">
                        <FluentAutocomplete IconSearch="@(new Icons.Regular.Size20.PersonLightbulb())"
                            TOption="UserInfo" Placeholder="Все" 
                            AutoComplete="off"
                            MaximumOptionsSearch="100" Disabled="reportRequest.SelfDepartment"
                            Label="Автор:" style="max-width: 500px;" 
                            />
                        <FluentCheckbox Label="Мой отдел" @bind-Value="reportRequest.SelfDepartment"
                            class="align-self-end mb-2" />
                    </div>

                    <IntervalPicker Label="Интервал по дате создания"
                        @bind-Start="@reportRequest.CreatedByRange.Start"
                        @bind-End="@reportRequest.CreatedByRange.End" />
                </div>
                <div class="d-flex mt-4">
                <FluentSpacer />
                <FluentButton IconStart="@(new Icons.Filled.Size16.ArrowDownload())" >
                    Сгенерировать отчет
                </FluentButton>
            </div>
            </div>
        </FluentCard>
    </div>
</div>

@code {
    bool generating;
    readonly CreatedTaskReportRequest reportRequest = new();
}
