@inherits KolComponentBase

<div class="milestone-bar @_selectedCss" >
    <div class="title">@Milestone.Title</div>
    <div class="dates">
        <span>@State.GetMilestoneStart(Milestone).ToShortDateString()</span>
        <div style="flex-grow: 1;"></div>
        <span>@Milestone.Deadline.ToShortDateString()</span>
    </div>
    <div class="progress-bar" style="@CssBackgroundColor @CompleteProgress" />
</div>