@inherits KolComponentBase

<div class="project-dashboard-header @Class" style="@Style" @onclick="HandleClick">
    <FluentIcon Color="Color.Warning" Width="30px" Value="@(new Icons.Filled.Size24.LockClosed())" />
    <FluentSpacer Width="10" />
    @State.Project.Title
    @* <FluentSpacer />
     @if (State is IFilterableProjectState filterableProjectState)
    {
        <span class="tasks-count">Задач: @filterableProjectState.FilteredTasks().Count()</span>
    }
    else
    {
        <span class="tasks-count">Задач: @State.Tasks.Count</span>
    } *@
</div>

@code {

    [CascadingParameter] IProjectState State { get; set; } = null!;

    protected override void OnInitialized()
    {
        State.TasksChanged += _ => StateHasChanged();

        if (State is IFilterableProjectState filterableProjectState)
        {
            filterableProjectState.TaskFilter.FilterChanged += StateHasChanged;
        }        
    }

}
