@using Cardmngr.Application.Clients.FeedbackClient
@using Cardmngr.Components.FeedbackAggregate.Modals

@inject IFeedbackClient FeedbackClient
@inject AuthenticationStateProvider AuthenticationStateProvider

<li class="feedback-card clickable" style="font-size: 13px;" @onclick="OpenModal" >
    <div class="py-1 px-2 h-100" >
        <span class="fw-bold" style="overflow: hidden;">@Feedback.Title</span>
        @if (Feedback.Description is { })
        {
            <div class="mt-1 max-height-100 fw-light desc-text">
                @Feedback.Description
            </div>
        }
        <UserAvatar User="@Feedback.Creator" Size="25" ShowName="true" />
        <div class="row mt-2">
            @if (Feedback.Status == FeedbackStatus.Todo)
            {
                <div class="col-3 d-flex ms-1" @onclick:stopPropagation >
                    <div @onclick="ToggleLike">
                        @* <Icon Name="IconName.HandThumbsUpFill" Color="@(likePressed ? IconColor.Success : IconColor.None)" /> *@
                        <span class="ms-2">@Feedback.LikedUsers.Count</span>
                    </div>
                </div>
            }
            <div class="col d-flex justify-content-end">
                @if (Feedback.Status == FeedbackStatus.Finished)
                {
                    <Icon class="d-flex align-items-center" Name="IconName.CheckCircleFill" Color="IconColor.Success" />
                    <span class="ms-1">
                        Выполнено:
                        @Feedback.Finished!.Value.ToShortDateString()
                    </span>
                }
                else
                {
                    <Icon class="d-flex align-items-center" Name="IconName.PencilSquare" Color="IconColor.Primary" />
                    <span class="ms-1">
                        Создано:
                        @Feedback.Created.ToShortDateString()
                    </span>
                }
            </div>
        </div>
    </div>
</li>

@code {
    bool likePressed;

    [CascadingParameter] FeedbacksState State { get; set; } = null!;
    [Parameter] public Feedback Feedback { get; set; } = null!;    
    [CascadingParameter(Name = "DetailsModal")] ModalOptions DetailsModal { get; set; } = null!;
    [CascadingParameter] IModalService Modal { get; set; } = null!;

    protected override void OnInitialized()
    {        
        likePressed = Feedback.LikedUsers.Contains(AuthenticationStateProvider.ToCookieProvider().UserId);
    }

    async Task OpenModal()
    {
        var parameters = new ModalParameters
        {
            { "State", State },
            { "Model", Feedback }
        };

        await Modal.Show<FeedbackDetailsModal>("", parameters, DetailsModal).Result;
    }

    async Task ToggleLike()
    {
        likePressed = !likePressed;

        await State.ToggleFeedbackLikeAsync(Feedback.Id);
    }
}
