@inherits ProjectStateComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div class="proj-state scrollbar-none" style="@CssHeight">
        <div class="cursor-pointer" @ondblclick="@toggleCollapsedFunc">
            <div class="flex select-none">
                <div class="flex font-bold gap-1">
                    <FluentIcon style="min-width: 16px;" class="self-center" OnClick="() => ToggleFollowAsync()"
                                Value="IconFollow" Title="@(isFollow ? "Перестать отслеживать" : "Отслеживать")" />
                    @if (ViewModel.ProjectState.Project.IsPrivate)
                    {
                        <div class="self-center">
                            <FluentIcon
                                Value="@(new Icons.Filled.Size16.LockClosed())"
                                title="Приватный проект"
                                Color="Color.Warning" />
                        </div>
                    }
                    <div class="self-center">
                        @ViewModel.ProjectState.Project.Title
                    </div>
                </div>
                <FluentSpacer/>
                <FluentSpacer Width="12" />
                <div class="self-center flex gap-1 justify-end">
                    <i class="tip-hide" style="font-size: small;">
                        Двойной клик для рыскрытия/закрытия
                    </i>
                    <FluentBadge title="Всего задач">@ViewModel.ProjectState.Tasks.Count</FluentBadge>
                    <a class="self-center" href=@($"/project/board?ProjectId={ViewModel.ProjectState.Project.Id}")>
                        <FluentIcon Width="23" Value="@(new Icons.Regular.Size20.ArrowCircleUpRight())" />
                    </a>
                    <FluentIcon style="min-width: 20px;" OnClick="@toggleCollapsedFunc"
                        Value="CollapsedIcon" />
                </div>
            </div>
        </div>
        @if (!(ViewModel?.IsCollapsed ?? true))
        {
            if (Initialized)
            {
                <div class="flex flex-col relative mt-1" style="flex: auto !important;">
                    <div class="flex flex-col ms-3" style="flex: auto !important; white-space: nowrap !important; overflow-x: auto;">
                        <ProjectBoard></ProjectBoard>
                    </div>
                </div>
            }
            else
            {
                <Loading />
            }
        }
    </div>
</CascadingValue>
