@using Cardmngr.Components.ProjectAggregate.Components

@inherits ProjectStateBase

<CascadingValue Value="this" IsFixed="true">
    <div class="proj-state scrollbar-none" style="@CssHeight">
        <div class="clickable" @ondblclick="@toggleCollapsedFunc">
            <div class="d-flex user-select-none">
                <div class="d-flex fw-bold gap-1">
                    @if (ViewModel is { })
                    {
                        <FluentIcon style="min-width: 16px;" class="align-self-center" OnClick="() => ToggleFollowAsync()"
                            Value="IconFollow" Title="@(isFollow ? "Перестать отслеживать" : "Отслеживать")" />
                        @if (ViewModel.ProjectInfo.IsPrivate)
                        {
                            <div class="align-self-center">
                                <FluentIcon
                                    Value="@(new Icons.Filled.Size16.LockClosed())"
                                    title="Приватный проект"
                                    Color="Color.Warning" />
                            </div>
                        }
                        <div class="align-self-center">
                            @ViewModel.ProjectInfo.Title
                        </div>
                        <a class="align-self-center" href=@($"/project/{ViewModel.ProjectInfo.Id}")>
                            <FluentIcon Width="23" Value="@(new Icons.Regular.Size20.ArrowCircleUpRight())" />
                        </a>
                    }
                </div>
                <FluentSpacer/>
                <FluentSpacer Width="12" />
                <div class="align-self-center d-flex gap-1 justify-content-end">
                    <i class="tip-hide" style="font-size: small;">
                        Двойной клик для рыскрытия/закрытия
                    </i>
                    <FluentIcon style="min-width: 20px;" OnClick="@toggleCollapsedFunc"
                        Value="CollapsedIcon" />
                </div>
            </div>
        </div>
        @if (!(ViewModel?.IsCollapsed ?? true))
        {
            if (Initialized)
            {
                <div class="d-flex flex-column position-relative mt-1" style="flex: auto !important;">
                    <div class="d-flex flex-column ms-3" style="flex: auto !important; white-space: nowrap !important; overflow-x: auto;">
                        <ProjectBoard></ProjectBoard>
                    </div>
                </div>
            }
            else
            {
                <FluentProgressRing style="position: relative; top: 40%; left: 50%; transform: translate(-50%, -50%);" />
            }
        }
    </div>
</CascadingValue>
