@using Cardmngr.Shared.Utils.Filter

@if(show)
{
    <div class="d-flex gap-1">
        <FluentAutocomplete Placeholder="Проект"
            TOption="Domain.ProjectInfo"
            SelectedOptionsChanged="SelectionProjectChanged"
            MaximumSelectedOptions="1"
            Style="width: 190px;" AutoComplete="off"
            IconSearch="@(new Icons.Regular.Size20.ProjectionScreen())"
            SelectedOptions="SelectedProject"
            OptionText="@(p => p.Title)"
            OnOptionsSearch="OnProjectSearch">

        </FluentAutocomplete>      
        <FluentAutocomplete IconSearch="@(new Icons.Regular.Size20.Person())"
            TOption="UserInfo" Placeholder="Ответственный"
            Style="width: 190px;" AutoComplete="off"
            SelectedOptionsChanged="SelectionResponsibleChanged"
            MaximumSelectedOptions="1"
            OptionText="@(u => u.DisplayName)"
            SelectedOptions="SelectedResponsible"
            OnOptionsSearch="OnResponsibleSearch">

        </FluentAutocomplete>
        <FluentAutocomplete IconSearch="@(new Icons.Regular.Size20.PersonLightbulb())"
            TOption="UserInfo" Placeholder="Автор"
            SelectedOptionsChanged="SelectionCreatedByChanged"
            MaximumSelectedOptions="1"
            Style="width: 190px;" AutoComplete="off"
            OptionText="@(u => u.DisplayName)"
            SelectedOptions="SelectedCreatedBy"
            OnOptionsSearch="OnCreatedBySearch">

        </FluentAutocomplete>
        <div class="user-select-none">
            <FluentBadge class="clickable" BackgroundColor="@(onlyDeadlined ? "black" : "white")">
                <div class="d-flex align-items-center" @onclick="@ToggleDeadlineFilter">
                    <InputCheckbox class="form-check-input" style="margin-bottom: 2px;" @bind-Value="onlyDeadlined" />
                    <span class="ms-1">Только просроченные</span>
                </div>
            </FluentBadge>
            <FluentBadge class="clickable" BackgroundColor="@(onlyClosed ? "black" : "white")">
                <div class="d-flex align-items-center" @onclick="@ToggleClosedFilter">
                    <InputCheckbox class="form-check-input" style="margin-bottom: 2px;" @bind-Value="onlyClosed"  />
                    <span class="ms-1">Только закрытые</span>
                </div>
            </FluentBadge>
        </div>
    </div>
}
