@using Cardmngr.Shared.Utils.Filter

@if(show)
{
    <div id="toolbar-fluent-components" class="flex gap-2" >
        <div class="flex flex-wrap gap-1">
            <FluentAutocomplete Placeholder="Проект"
                                TOption="Domain.Entities.ProjectInfo" 
                                Width="228px"
                                SelectedOptionsChanged="SelectionProjectChanged"
                                MaximumSelectedOptions="1" 
                                MaximumOptionsSearch="100" AutoComplete="off"
                                IconSearch="@(new Icons.Regular.Size20.ProjectionScreen())"
                                SelectedOptions="SelectedProject"
                                OptionText="@(p => p.Title)" 
                                ShowOverlayOnEmptyResults="false"
                                OnOptionsSearch="OnProjectSearch" >

                    <OptionTemplate>
                        <div title="@context.Title">
                            @context.Title
                        </div>
                    </OptionTemplate>
                </FluentAutocomplete>

            <FluentAutocomplete IconSearch="@(new Icons.Regular.Size20.Person())"
                                TOption="UserInfo"
                                Placeholder="Ответственный"
                                AutoComplete="off"
                                Width="228px"
                                SelectedOptionsChanged="SelectionResponsibleChanged"
                                MaximumSelectedOptions="1"
                                MaximumOptionsSearch="100"
                                OptionText="@(u => u.DisplayName)"
                                ShowOverlayOnEmptyResults="false"
                                SelectedOptions="SelectedResponsible"
                                OnOptionsSearch="OnResponsibleSearch">
                
                <OptionTemplate>
                    <FluentPersona Name="@context.DisplayName"
                        ImageSize="22px"
                        Image="@($"onlyoffice/api/people{context.AvatarSmall}")" />
                </OptionTemplate>
            </FluentAutocomplete>

            <FluentAutocomplete IconSearch="@(new Icons.Regular.Size20.PersonLightbulb())"
                                TOption="UserInfo"
                                Placeholder="Автор"
                                Width="228px"
                                SelectedOptionsChanged="SelectionCreatedByChanged"
                                MaximumSelectedOptions="1"
                                MaximumOptionsSearch="100"
                                AutoComplete="off"
                                OptionText="@(u => u.DisplayName)"
                                ShowOverlayOnEmptyResults="false"
                                SelectedOptions="SelectedCreatedBy"
                                OnOptionsSearch="OnCreatedBySearch">
                
                <OptionTemplate>
                    <FluentPersona Name="@context.DisplayName"
                        ImageSize="22px"
                        Image="@($"onlyoffice/api/people{context.AvatarSmall}")" />
                </OptionTemplate>
            </FluentAutocomplete>

            <FluentSelect TOption="TaskSelectorType"
                          Class="self-start"
                          Items="@_taskSelectorTypes"
                          Width="228px"
                          Height="136px"
                          OptionText="@(s => s.GetDesc())"
                          @bind-SelectedOption="SummaryService.FilterManager.TaskSelectorType" />

            <FluentIcon Value="@(new Icons.Filled.Size20.GanttChart())" 
                Color="GanttModeColor" Width="28px" title="Режим Ганта"
                @onclick="SummaryService.ToggleGanttMode"
                class="ml-2" />
        </div>
    </div>
}
