@using Cardmngr.Shared.Utils.Filter

@if(show)
{
    <div class="d-flex align-items-center" style="font-size: 14px;">
        <div class="d-flex flex-column">
            <span style="font-size: smaller;">Проект</span>
            <div class="d-flex align-items-center">
                <Dropdown Size="Size.ExtraSmall">
                    <DropdownToggleButton Color="@(selectedProject is { } ? ButtonColor.Dark : ButtonColor.Light)" class="fw-bold overflow-hidden" 
                        style="font-size: 11px; max-width: 200px;">
                        @(selectedProject is { } ? selectedProject.Title : "Выберите проект")
                    </DropdownToggleButton>
                    <DropdownMenu style="max-height: 200px;" class="overflow-auto">
                        @foreach (var project in projects)
                        {
                            <DropdownItem @onclick="() => SelectProject(project)">
                                @project.Title
                            </DropdownItem>
                        }
                    </DropdownMenu>
                </Dropdown>
                @if (selectedProject is { })
                {
                    <Icon Name="IconName.X" class="clickable ms-1 mt-1" @onclick="() => SelectProject(null)" />
                }
            </div>
        </div>
        <div class="d-flex flex-column ms-2">
            <span style="font-size: smaller;">Ответственный</span>
            <div class="d-flex align-items-center">
                <Dropdown Size="Size.ExtraSmall">
                    <DropdownToggleButton Color="@(selectedResponsible is { } ? ButtonColor.Dark : ButtonColor.Light)" 
                        class="fw-bold" style="font-size: 11px;">
                        @(selectedResponsible is { } ? selectedResponsible.DisplayName : "Выберите пользователя")
                    </DropdownToggleButton>
                    <DropdownMenu style="max-height: 200px;" class="overflow-auto">
                        @foreach (var user in users)
                        {
                            <DropdownItem @onclick="() => SelectResponsible(user)">
                                @user.DisplayName
                            </DropdownItem>
                        }
                    </DropdownMenu>
                </Dropdown>
                @if (selectedResponsible is { })
                {
                    <Icon Name="IconName.X" class="clickable ms-1 mt-1" @onclick="() => SelectResponsible(null)" />
                }
            </div>
        </div>
        <div class="d-flex flex-column ms-2">
            <span style="font-size: smaller;">Постановщик</span>
            <div class="d-flex align-items-center">
                <Dropdown Size="Size.ExtraSmall">
                    <DropdownToggleButton Color="@(selectedCreatedBy is { } ? ButtonColor.Dark : ButtonColor.Light)" class="fw-bold" style="font-size: 11px;">
                        @(selectedCreatedBy is { } ? selectedCreatedBy.DisplayName : "Выберите пользователя")
                    </DropdownToggleButton>
                    <DropdownMenu style="max-height: 200px;" class="overflow-auto">
                        @foreach (var user in users)
                        {
                            <DropdownItem @onclick="() => SelectCreatedBy(user)">
                                @user.DisplayName
                            </DropdownItem>
                        }
                    </DropdownMenu>
                </Dropdown>
                @if (selectedCreatedBy is { })
                {
                    <Icon Name="IconName.X" class="clickable ms-1 mt-1" @onclick="() => SelectCreatedBy(null)" />
                }
            </div>
        </div>
        <div class="user-select-none mt-3 ms-2">
            <Badge class="clickable" Color="@(onlyDeadlined ? BadgeColor.Dark : BadgeColor.Light)">
                <div class="d-flex align-items-center" @onclick="@ToggleDeadlineFilter">
                    <InputCheckbox class="form-check-input" style="margin-bottom: 2px;" @bind-Value="onlyDeadlined" />
                    <span class="ms-1">Только просроченные</span>
                </div>
            </Badge>
            <Badge class="ms-2 clickable" Color="@(onlyClosed ? BadgeColor.Dark : BadgeColor.Light)">
                <div class="d-flex align-items-center" @onclick="@ToggleClosedFilter">
                    <InputCheckbox class="form-check-input" style="margin-bottom: 2px;" @bind-Value="onlyClosed"  />
                    <span class="ms-1">Только закрытые</span>
                </div>
            </Badge>
        </div>
    </div>
}
