@inherits KolComponentBase

@if (InteractionService.HeaderCollapsed)
{
    <Smooth>
        <div class="position-absolute top-0 mt-2 p-2" style="left: 50%; opacity: 30%; z-index: 1;">
            <div style="background-color: var(--neutral-layer-2); border-radius: 50%;">
                <FluentIcon Value="@(new Icons.Regular.Size24.Dismiss())"
                    @onclick="() => InteractionService.HeaderCollapsed = false"
                    title="Раскрыть шапку"
                    Color="Color.Neutral" />
            </div>
        </div>
    </Smooth>
}
else
{
<FluentHeader class="siteheader" Style="height: auto; z-index: 1;" >
    <div class="d-flex gap-1 align-items-center">        
        <NavigateButtons />
        <FluentSpacer Width="5" />
        <FluentButton Class="py-0" Appearance="Appearance.Outline"
            OnClick="OpenSidebar" IconEnd="@(new Icons.Regular.Size20.TextAlignJustify())" />
        <FluentSpacer Width="5" />
        <FluentAnchor Href="/" Appearance="@Appearance.Hypertext" IconStart="@(new MyIcons.CardLogo())" />
        <FluentSpacer Width="25" />
        <ProjectNavigator />
        <FilterCustomizer />
    </div>
    <FluentSpacer />
    <div class="d-flex gap-2">
        <Toolbar />
        @if (currentUser is { })
        {
            <FluentIcon OnClick="OpenSettings"
                Value="@(new Icons.Regular.Size24.Settings())"
                />        

            <FluentProfileMenu Image="@($"onlyoffice/api/people{currentUser.Avatar}")"
                            HeaderLabel="УПКБ Деталь" HeaderButton="Выйти" OnHeaderButtonClick="LogoutAsync"
                            Initials="@($"{currentUser.LastName[0]}{currentUser.FirstName[0]}")" 
                            FullName="@currentUser.DisplayName"
                            EMail="@currentUser.Email" >
                <FooterTemplate>
                    <FluentStack>
                        <FluentSpacer />
                        <FluentAnchor Appearance="@Appearance.Hypertext"
                                    Href="@($"{onlyofficeUrl}/Products/People/Profile.aspx?user={currentUser.UserName}")">
                            Профиль
                        </FluentAnchor>
                    </FluentStack>
                </FooterTemplate>

            </FluentProfileMenu>

            <NotificationCenter />
        }
    </div>
</FluentHeader>
}