@implements IDisposable

@inject IMessageService MessageService

<div class="align-self-center clickable user-select-none" @onclick="OpenNotificationCenterAsync" >
@if (MessageService.Count(App.MessagesNotificationCenter) > 0)
{
    <FluentCounterBadge Count="@MessageService.Count(App.MessagesNotificationCenter)"
                        Max="9"
                        ShowOverflow="true"
                        BackgroundColor="@Color.Error"
                        Color="Color.Fill"
                        Style="padding: 2px;"
                        Appearance="Appearance.Accent"
                        ShowZero=true>
        <ChildContent>
            @NotificationIcon()
        </ChildContent>
    </FluentCounterBadge>
}
else
{
    @NotificationIcon() 
}
</div>

@code {

    [CascadingParameter(Name = "DetailsModal")] ModalOptions Options { get; set; } = null!;
    [CascadingParameter] IModalService Modal { get; set; } = null!;
   
    protected override void OnInitialized()
    {
        MessageService.OnMessageItemsUpdated += UpdateCount;
    }

    private void UpdateCount()
    {
        InvokeAsync(StateHasChanged);
    }

    private RenderFragment NotificationIcon() =>
        @<FluentIcon Value="@(new Icons.Regular.Size24.Alert())" Title="Notification center" />;

    private async Task OpenNotificationCenterAsync()
    {
        await Modal.Show<NotificationCenterModal>(new ModalParameters { { "Nothing", new object() } }, Options).Result;
    }

    public void Dispose()
    {
        MessageService.OnMessageItemsUpdated -= UpdateCount;
    }
}