@inject IConfiguration Config
@inject NavigationManager NavigationManager
@inject IJSRuntime Js

@inherits KolComponentBase

<div class="d-flex align-items-center gap-2 @Class" style="@Style">
    <FluentIcon Value="@(new Icons.Regular.Size24.ArrowClockwise())"
        Title="Обновить страницу"
        @onclick="@(async () => await Js.InvokeVoidAsync("reload"))" />
    <Tool Icon="@(new Icons.Regular.Size24.ArrowCircleUpRight())" title="Перейти в Р7-Офис" OnClick=@NavigateToR7Office 
        />
</div>

@code {
    void NavigateToR7Office()
    {
        if (NavigationManager.Uri.Contains("/project/"))
        {
            NavigationManager.NavigateTo(Config.CheckKey("onlyoffice-url") + $"/Products/Projects/Projects.aspx?prjID={CurrentProjectId}");
        }
        else
        {
            NavigationManager.NavigateTo(Config.CheckKey("onlyoffice-url"));
        }
    }

    int CurrentProjectId => int.Parse(NavigationManager.Uri.Substring(NavigationManager.Uri.LastIndexOf('/') + 1));
}