@inject IConfiguration Config
@inject NavigationManager NavigationManager
@inject IJSRuntime Js

@implements IDisposable

@inherits KolComponentBase

<div class="d-flex align-items-center gap-2 @Class" style="@Style">
    <FluentIcon Value="@(new Icons.Regular.Size24.ArrowClockwise())"
        Title="Обновить страницу"
        @onclick="@(async () => await Js.InvokeVoidAsync("reload"))" />

    <FluentAnchor Href="@_r7OfficeHref" title="Перейти в Р7 Офис"
        Appearance="Appearance.Hypertext"
        IconStart="@(new Icons.Regular.Size24.ArrowCircleUpRight())" />
</div>